<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyStudy</title>
    <link rel="stylesheet" href="/static/list.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        function confirmDelete(activityId) {
            var confirmDelete = confirm("Are you sure you want to delete this activity?");
            if (confirmDelete) {
                // Use AJAX para enviar uma solicitação POST
                $.ajax({
                    url: '/deleteActivity/' + activityId,
                    type: 'POST',
                    success: function(response) {
                        // Atualizar a página ou tomar outras ações após a exclusão bem-sucedida
                        location.reload();
                    },
                    error: function(error) {
                        // Lidar com erros, se necessário
                        console.error(error);
                    }
                });
            }
        }
    </script>

</head>
<body>
    <h1>PyStudy</h1>
    <h3>Activity List</h3>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Matter</th>
                <th>Stage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in dic_activities %}
                <tr>
                    <td>{{ activity.idActivities }}</td>
                    <td>{{ activity.nameActivity }}</td>
                    <td>{{ activity.matter }}</td>
                    <td>
                        {% if activity.stage == '1' %}
                            Conclude
                        {% else %}
                            Unconcluded
                        {% endif %}
                    </td>
                    <td>
                        <form action="/deleteActivity/{{ activity.idActivities }}" method="post">
                            <input type="submit" name="DELETE" value="DELETE">
                        </form>
                        <form action="/editActivity/{{ activity.idActivities }}" method="post">
                            <input type="submit" name="EDIT" value="EDIT">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="location.href='/new_activity'" type="button">New Activity</button>
    <button onclick="location.href='/'" type="button">Log Out</button>

</body>
</html>
