<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyStudy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <h1>PyStudy</h1>
    {% if message_erro %}
        <p style="color: red;">{{ message_erro }}</p>
    {% endif %}
    <form action="/receivesignup" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" value="" required>

        <label for="password">Password</label>
        <input type="password" name="password" value="" required>

        <label for="password">Email</label>
        <input type="email" name="email" value="" required>

        <input type="submit" value="Sign Up">
    </form>
</body>
</html>